:root {
  --bgr-white: white;
  --text-default: black;
  --bgr-light: #f4f5f8;
  --bgr-primary: #1c84ee;
  --bgr-primary-hover: #0d6efd;
  --bgr-secondary: #495057;
  --bgr-linear-gradient-light: linear-gradient(118deg, #1c84ee, rgb(28 132 238));
  --bgr-shadow-light: 0 4px 20px 0 #00000024, 0 7px 10px -5px #1c84ee;
  --bgr-grey: #81919c;
}

[data-theme="dark"] {
  --text-default: white;
  --bgr-white: #283046;
  --bgr-light: #181d31;
  --bgr-primary: #2070b7;
  --bgr-primary-hover: #0d6efd;
  --bgr-secondary: #81919c;
  --bgr-color-white: white;
  --bgr-linear-gradient-dark: linear-gradient(118deg, #7367f0, rgba(115, 103, 240, .7));
  --bgr-shadow-dark: 0 0 10px 1px #7367f0b3;
  --bgr-grey: #81919c;
}

.page-error {
  position: relative;
  z-index: 1;
  width: 100%;
}

.page-error .empty-2-1 {
  padding: 1rem 0px 4rem 0px;
}

.page-error .empty-2-1 .main-img {
  height: 100%;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 3rem;
}

.page-error .empty-2-1 .title-text {
  color: var(--bgr-secondary);
  font: 600 1.875rem/2.25rem 'Be Vietnam', sans-serif;
  margin-bottom: 1.25rem;
}

.page-error .empty-2-1 .title-caption {
  color: var(--bgr-grey);
  margin-bottom: 4rem;
  letter-spacing: 0.025em;
  line-height: 1.75rem;
  margin-top: 1rem;
}

.page-error .empty-2-1 .btn-back {
  background-color: var(--bgr-primary);
  color: white;
  font: 600 1.125rem/1.75rem 'Be Vietnam', sans-serif;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
}

.page-error .empty-2-1 .btn-back:hover {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

:root {
  --bgr-white: white;
  --text-default: black;
  --bgr-light: #f4f5f8;
  --bgr-primary: #1c84ee;
  --bgr-primary-hover: #0d6efd;
  --bgr-secondary: #495057;
  --bgr-linear-gradient-light: linear-gradient(118deg, #1c84ee, rgb(28 132 238));
  --bgr-shadow-light: 0 4px 20px 0 #00000024, 0 7px 10px -5px #1c84ee;
}

[data-theme="dark"] {
  --text-default: white;
  --bgr-white: #283046;
  --bgr-light: #181d31;
  --bgr-primary: #2070b7;
  --bgr-primary-hover: #0d6efd;
  --bgr-secondary: #81919c;
  --bgr-color-white: white;
  --bgr-linear-gradient-dark: linear-gradient(118deg, #7367f0, rgba(115, 103, 240, .7));
  --bgr-shadow-dark: 0 0 10px 1px #7367f0b3;
  --bgr-dark-reguler: #202940;
  --bgr-dark-bold: #202940;
  --bgr-grey: #81919c;
}

.dark-mode-toggle {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  color: var(--bgr-grey);
  text-transform: capitalize;
}

body {
  font-family: 'Be Vietnam', sans-serif;
  font-weight: 400;
  color: var(--bgr-color-white);
  background-color: var(--bgr-light);
}

/* BREDCRUMB */
.bredcrumb-wrapper {
  background-color: var(--bgr-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 20px;
  border-radius: 4px;
}

.bredcrumb-wrapper h5 {
  font-size: 18px;
}

.bredcrumb-wrapper ol.breadcrumb {
  margin-bottom: 0;
  padding: 0;
}

.bredcrumb-wrapper ol.breadcrumb li {
  margin: 0;
  padding: 0;
  display: block;
}

.fixed-top,
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav,
.sb-nav-fixed .sb-topnav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: white;
}

.sb-sidenav .sb-sidenav-footer {
  padding: 0.75rem;
}

.sb-nav-fixed .sb-topnav {
  background-color: var(--bgr-primary);
  color: var(--text-default);
  -webkit-box-shadow: 0 0.2rem 0.5rem #12263f4d;
          box-shadow: 0 0.2rem 0.5rem #12263f4d;
  z-index: 1039;
}

.sb-nav-fixed .sb-topnav #sidebarToggle {
  color: white;
}

.sb-nav-fixed .sb-topnav .navbar-brand {
  color: white;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
  width: 260px;
  height: 100vh;
  z-index: 1038;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav {
  padding-top: 56px;
}

#layoutSidenav_nav .nav-link:hover {
  background-color: var(--bgr-white);
}

#layoutSidenav_nav .nav-link.active:hover {
  color: var(--bgr-grey) !important;
}

#layoutSidenav_nav .nav-link.active:hover .sb-nav-link-icon {
  color: var(--bgr-grey) !important;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu {
  overflow-y: auto;
  -webkit-box-shadow: 0 0.5rem 1rem #12263f4d;
          box-shadow: 0 0.5rem 1rem #12263f4d;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
  padding-left: 225px;
  top: 56px;
}

.sb-topnav {
  padding-left: 0;
  height: 70px;
  z-index: 1039;
}

.sb-topnav .navbar-brand {
  width: 237px;
  margin: 0;
}

.sb-topnav.navbar-dark #sidebarToggle {
  color: rgba(255, 255, 255, 0.5);
}

.sb-topnav.navbar-light #sidebarToggle {
  color: var(--bgr-color-default);
}

.sb-sidenav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.sb-sidenav .sb-sidenav-menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sb-sidenav .sb-sidenav-menu .nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
  padding: 1.75rem 1rem 0.75rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--bgr-secondary);
  font-weight: 600;
}

.nav-link.dropdown-toggle {
  color: white;
}

#layoutSidenav_nav ul {
  padding: 0;
  margin: 0;
  padding: 6px;
}

#layoutSidenav_nav li {
  list-style-type: none;
  margin-bottom: 10px;
}

#layoutSidenav_nav li.active-list {
  background: var(--bgr-linear-gradient-light);
  -webkit-box-shadow: var(--bgr-shadow-light);
          box-shadow: var(--bgr-shadow-light);
  border-radius: 3px;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link.active {
  color: white;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
  color: var(--text-default);
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  position: relative;
  color: var(--bgr-secondary);
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-nav-link-icon {
  font-size: 0.9rem;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-sidenav-collapse-arrow {
  display: inline-block;
  margin-left: auto;
  -webkit-transition: -webkit-transform 0.15s ease;
  transition: -webkit-transform 0.15s ease;
  transition: transform 0.15s ease;
  transition: transform 0.15s ease, -webkit-transform 0.15s ease;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link.collapsed .sb-sidenav-collapse-arrow {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested {
  margin-left: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sb-sidenav .sb-sidenav .sb-sidenav-light {
  color: var(--bgr-color-default);
  background-color: var(--bgr-white);
}

.sb-sidenav-light .sb-sidenav-menu .sb-sidenav-menu-heading {
  color: var(--bgr-secondary);
}

.sb-sidenav-light .sb-sidenav-menu .nav-link {
  color: var(--bgr-secondary);
}

.sb-sidenav-light .sb-sidenav-menu .nav-link .sb-nav-link-icon {
  color: var(--bgr-secondary);
}

.sb-sidenav-light .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
  color: var(--bgr-secondary);
}

.sb-sidenav-light .sb-sidenav-menu .nav-link.active {
  color: var(--bgr-white);
}

.sb-sidenav-light .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
  color: white;
}

.sb-sidenav-light .sb-sidenav-footer {
  background-color: var(--bgr-primary);
  color: white;
}

.nav .nav-link .sb-nav-link-icon,
.sb-sidenav-menu .nav-link .sb-nav-link-icon {
  margin-right: 0.5rem;
}

/* sidebar nav dark */
.sb-sidenav-dark {
  background-color: #f8f9fa;
  color: var(--bgr-color-default);
}

.sb-sidenav-dark .sb-sidenav-menu .sb-sidenav-menu-heading {
  color: #adb5bd;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link {
  color: var(--bgr-color-default);
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-nav-link-icon {
  color: #adb5bd;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
  color: #adb5bd;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link:hover {
  color: var(--bgr-primary-hover);
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link.active {
  color: var(--bgr-primary-hover);
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
  color: var(--bgr-primary-hover);
}

.sb-sidenav-dark .sb-sidenav-footer {
  background-color: #e9ecef;
}

.sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1037;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#layoutSidenav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#layoutSidenav #layoutSidenav_nav {
  -ms-flex-preferred-size: 225px;
      flex-basis: 225px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  z-index: 1038;
  -webkit-transform: translateX(-260px);
          transform: translateX(-260px);
}

#layoutSidenav #layoutSidenav_content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: calc(100vh - 56px);
  margin-left: -225px;
}

footer {
  border-top: 1px solid var(--bgr-white);
  background-color: var(--bgr-white);
}

@media (min-width: 992px) {
  #layoutSidenav #layoutSidenav_nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  #layoutSidenav #layoutSidenav_content {
    margin-left: 0;
    -webkit-transition: margin 0.15s ease-in-out;
    transition: margin 0.15s ease-in-out;
  }
  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
    -webkit-transform: translateX(-260px);
            transform: translateX(-260px);
  }
  .sb-sidenav-toggled .px-5 {
    padding-right: .75rem !important;
    padding-left: .75rem !important;
  }
  .sb-nav-fixed .px-5 {
    padding-right: .75rem !important;
  }
  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content {
    margin-left: -225px;
  }
  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
    display: none;
  }
}

.theme-switch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
  color: white;
}

.theme-switch {
  display: inline-block;
  height: 19px;
  position: relative;
  width: 46px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 15px;
  left: 3px;
  position: absolute;
  -webkit-transition: .4s;
  transition: .4s;
  width: 15px;
}

input:checked + .slider {
  background-color: var(--bgr-white);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .px-5 {
    padding-left: .75rem !important;
    padding-right: .75rem !important;
  }
}

@media screen and (max-width: 552px) {
  footer .small {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=styles.css.map */