@import "./error-page_blank";
:root {
	// theme light
	--bgr-white: white;
	--text-default: black;
	--bgr-light: #f4f5f8;
	--bgr-primary: #1c84ee;
	--bgr-primary-hover: #0d6efd;
	--bgr-secondary: #495057;
	--bgr-linear-gradient-light: linear-gradient(118deg, #1c84ee, rgb(28 132 238));
	--bgr-shadow-light: 0 4px 20px 0 #00000024, 0 7px 10px -5px #1c84ee;
}
[data-theme="dark"] {
	--text-default: white;

	--bgr-white: #283046;
	--bgr-light: #181d31;
	--bgr-primary: #2070b7;
	--bgr-primary-hover: #0d6efd;
	--bgr-secondary: #81919c;
	--bgr-color-white: white;
	--bgr-linear-gradient-dark: linear-gradient(118deg, #7367f0, rgba(115, 103, 240, .7));
	--bgr-shadow-dark: 0 0 10px 1px #7367f0b3;

	// theme dark
	--bgr-dark-reguler: #202940;
	--bgr-dark-bold: #202940;
	--bgr-grey: #81919c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 !important;
	color: var(--bgr-grey);
	text-transform: capitalize;
}
body {
	font-family: 'Be Vietnam', sans-serif;
	font-weight: 400;
	color: var(--bgr-color-white);
	background-color: var(--bgr-light);
}

/* BREDCRUMB */
.bredcrumb-wrapper {
	background-color: var(--bgr-white);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 20px;
	border-radius: 4px;
	h5 {
		font-size: 18px;
	}
	ol.breadcrumb {
		margin-bottom: 0;

		padding: 0;
		li {
			margin: 0;
			padding: 0;
			display: block;
		}
	}
}

// COMPONENT FIXED
.fixed-top,
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav,
.sb-nav-fixed .sb-topnav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	background-color: white;
}
.sb-sidenav .sb-sidenav-footer {
	padding: 0.75rem;
}
.sb-nav-fixed .sb-topnav {
	background-color: var(--bgr-primary);
	color: var(--text-default);
	box-shadow: 0 0.2rem 0.5rem #12263f4d;
	z-index: 1039;
}
.sb-nav-fixed .sb-topnav #sidebarToggle {
	color: white;
}
.sb-nav-fixed .sb-topnav .navbar-brand {
	color: white;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
	width: 260px;
	height: 100vh;
	z-index: 1038;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav {
	padding-top: 56px;
}
#layoutSidenav_nav .nav-link {
	&:hover {
		background-color: var(--bgr-white);
	}
}
#layoutSidenav_nav .nav-link.active {
	&:hover {
		color: var(--bgr-grey) !important;
		.sb-nav-link-icon {
			color: var(--bgr-grey) !important;
		}
	}
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu {
	overflow-y: auto;
	box-shadow: 0 0.5rem 1rem #12263f4d;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
	padding-left: 225px;
	top: 56px;
}

.sb-topnav {
	padding-left: 0;
	height: 70px;
	z-index: 1039;
}
.sb-topnav .navbar-brand {
	width: 237px;
	margin: 0;
}
.sb-topnav.navbar-dark #sidebarToggle {
	color: rgba(255, 255, 255, 0.5);
}
.sb-topnav.navbar-light #sidebarToggle {
	color: var(--bgr-color-default);
}

.sb-sidenav {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex-wrap: nowrap;
}
.sb-sidenav .sb-sidenav-menu {
	flex-grow: 1;
}
.sb-sidenav .sb-sidenav-menu .nav {
	flex-direction: column;
	flex-wrap: nowrap;
}
.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
	padding: 1.75rem 1rem 0.75rem;
	font-size: 0.75rem;
	text-transform: uppercase;
	color: var(--bgr-secondary);
	font-weight: 600;
}
.nav-link.dropdown-toggle {
	color: white;
}
#layoutSidenav_nav ul {
	padding: 0;
	margin: 0;
	padding: 6px;
}

#layoutSidenav_nav li {
	list-style-type: none;
	margin-bottom: 10px;
}
#layoutSidenav_nav li.active-list {
	background: var(--bgr-linear-gradient-light);
	box-shadow: var(--bgr-shadow-light);
	border-radius: 3px;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link.active {
	color: white;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
	color: var(--text-default);
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link {
	display: flex;
	align-items: center;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	position: relative;
	color: var(--bgr-secondary);
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-nav-link-icon {
	font-size: 0.9rem;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-sidenav-collapse-arrow {
	display: inline-block;
	margin-left: auto;
	transition: transform 0.15s ease;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link.collapsed .sb-sidenav-collapse-arrow {
	transform: rotate(-90deg);
}
.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested {
	margin-left: 1.5rem;
	flex-direction: column;
}

.sb-sidenav .sb-sidenav .sb-sidenav-light {
	color: var(--bgr-color-default);
	background-color: var(--bgr-white);
}
.sb-sidenav-light .sb-sidenav-menu .sb-sidenav-menu-heading {
	color: var(--bgr-secondary);
}
.sb-sidenav-light .sb-sidenav-menu .nav-link {
	color: var(--bgr-secondary);
}
.sb-sidenav-light .sb-sidenav-menu .nav-link .sb-nav-link-icon {
	color: var(--bgr-secondary);
}
.sb-sidenav-light .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
	color: var(--bgr-secondary);
}

.sb-sidenav-light .sb-sidenav-menu .nav-link.active {
	color: var(--bgr-white);
}
.sb-sidenav-light .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
	color: white;
}
.sb-sidenav-light .sb-sidenav-footer {
	background-color: var(--bgr-primary);
	color: white;
}
.nav .nav-link .sb-nav-link-icon,
.sb-sidenav-menu .nav-link .sb-nav-link-icon {
	margin-right: 0.5rem;
}

/* sidebar nav dark */
.sb-sidenav-dark {
	background-color: #f8f9fa;
	color: var(--bgr-color-default);
}
.sb-sidenav-dark .sb-sidenav-menu .sb-sidenav-menu-heading {
	color: #adb5bd;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link {
	color: var(--bgr-color-default);
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-nav-link-icon {
	color: #adb5bd;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
	color: #adb5bd;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link:hover {
	color: var(--bgr-primary-hover);
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link.active {
	color: var(--bgr-primary-hover);
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
	color: var(--bgr-primary-hover);
}
.sb-sidenav-dark .sb-sidenav-footer {
	background-color: #e9ecef;
}

.sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
	transform: translateX(0);
}
.sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 1037;
	opacity: 0.5;
	transition: opacity 0.3s ease-in-out;
}

#layoutSidenav {
	display: flex;
}
#layoutSidenav #layoutSidenav_nav {
	flex-basis: 225px;
	flex-shrink: 0;
	transition: transform 0.15s ease-in-out;
	z-index: 1038;
	transform: translateX(-260px);
}
#layoutSidenav #layoutSidenav_content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 0;
	flex-grow: 1;
	min-height: calc(100vh - 56px);
	margin-left: -225px;
}
footer {
	border-top: 1px solid var(--bgr-white);
	background-color: var(--bgr-white);
}
@media (min-width: 992px) {
	#layoutSidenav #layoutSidenav_nav {
		transform: translateX(0);
	}
	#layoutSidenav #layoutSidenav_content {
		margin-left: 0;
		transition: margin 0.15s ease-in-out;
	}

	.sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
		transform: translateX(-260px);
	}
	.sb-sidenav-toggled .px-5 {
		padding-right: .75rem !important;
		padding-left: .75rem !important;
	}
	.sb-nav-fixed .px-5 {
		padding-right: .75rem !important;
	}
	.sb-sidenav-toggled #layoutSidenav #layoutSidenav_content {
		margin-left: -225px;
	}
	.sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
		display: none;
	}
}

// darkmode checked
.theme-switch-wrapper {
	display: flex;
	align-items: center;

	em {
		display: none;

		margin-left: 10px;
		font-size: 1rem;
		color: white;
	}
}
.theme-switch {
	display: inline-block;
	height: 19px;
	position: relative;
	width: 46px;
}

.theme-switch input {
	display: none;
}

.slider {
	background-color: #ccc;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
}

.slider:before {
	background-color: #fff;
	bottom: 2px;
	content: "";
	height: 15px;
	left: 3px;
	position: absolute;
	-webkit-transition: .4s;
	transition: .4s;
	width: 15px;
}

input:checked + .slider {
	background-color: var(--bgr-white);
}

input:checked + .slider:before {
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
// end darkmode checked

@media screen and (max-width: 768px) {
	.px-5 {
		padding-left: .75rem !important;
		padding-right: .75rem !important;
	}
}

@media screen and (max-width: 552px) {
	footer {
		.small {
			flex-direction: column;
		}
	}
}
